*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: orange;
}

.main-title {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: yellow;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2em solid maroon;
    border-radius: 100%;
    margin-top: 100px;
    padding: 200px;
}

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}